<div class="login_screen">
  <div class="login_links">
    <div class="login_button1">
      <p id="login">
        <a href="/login">
          <img src="http://i.imgur.com/OUcPugJ.jpg" alt="Login"/>
        </a>
      </p><br>
    </div>
    <div class="login_button2">
        <p id="login">
          <a href="/users/new">
            <img src="http://i.imgur.com/rMTF17y.jpg" alt="create account"/>
          </a>
        </p><br>
    </div>
  </div>
</div>


/users/new
