<div class="home_screen">
  <div class="control_panel_links">
      <div class="login_button1">
        <p id="login">
          <a href="<%=@user.id%>/dashboards/<%=@user.id%>">
            <img src="http://i.imgur.com/wCwCeQt.jpg" alt="stats"/>
          </a>
        </p>
        <br>
        <p id="login">
          <a href="<%=@user.id%>/dashboards">
            <img src="http://i.imgur.com/WolnKfE.jpg" alt="account"/>
          </a>
        </p><br>
      <p id="login">
      <a href="/search">
        <img src="http://i.imgur.com/Px9Ta6d.jpg" alt="search"/>
      </a>
      <br><br><br>
    </p>
      <% if current_admin? %>
        <p id="login">
        <a href="/admin/overview">
          <img src="https://i.imgur.com/IVawcRL.jpg" alt="search"/>
        </a>
      <%end  %>
    </p>
  <br>
</div>
  </div>
</div>
