<h1>Star Wars - The Dating App</h1>
<div class="flex-container">

      <form name="formName" action="/search" method="POST">
          <h2>Gender Preference?</h2><br>
          <div class="child">
               <p><input type="checkbox" name="male" value="male" id="gender_male"><label for="gender_male">Male</label></p>
             </div>
             <div class="child">
               <p><input type="checkbox" name="female" value="female" id="gender_female"><label for="gender_female">Female</label></p><br>
             </div>
          <div class="child">
             <p><input type="checkbox" name="None" value="None" id="gender_none"><label for="gender_none">Anything</label></p>
           </div><br><br><br>
</div><br>
<div class="flex-container">

             <h2>Smartness?</h2><br>
             <div class="child">
               <p><input type="checkbox" name="sentient" value="sentient" id="sentient"><label for="sentient">Sentient</label></p>
             </div>
               <div class="child">
                 <p><input type="checkbox" name="sentient" value="Random" id="Random"><label for="Random">Random</label></p>
               </div><br>
</div><br>
<div class="flex-container">

                <h2>What Species Interests You?</h2><br>
                <div class="child">
                     <p><input type="checkbox" name="Human" value="Human" id="human"><label for="human">Human</label></p>
                </div>
                <div class="child">
                   <p><input type="checkbox" name="Random" value="Random" id="Random"><label for="Random">Surprise Me!</label></p><br>
                   </div>
</div><br>
<div class="flex-container">

                <h2>Favourite Climate?</h2>
                <br></br>
                <div class="child">
                     <p><input type="checkbox" name="Sandy" value="Sandy" id="Sandy"><label for="Sandy">Sandy</label></p>
                   </div>
                   <div class="child">
                     <p><input type="checkbox" name="Snowy" value="Snowy" id="Snowy"><label for="Snowy">Snowy</label></p>
                   </div>
                <div class="child">
                  <p><input type="checkbox" name="Blue Sky" value="Blue Sky" id="Blue Sky"><label for="Blue Sky">Blue Sky</label></p>
                </div>
                <div class="child">
                  <p><input type="checkbox" name="Anything" value="Anything" id="Anything"><label for="Anything">No Preference</label></p>
                </div>

                   <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>
                 </div><br>

             <p><input type="submit" value ="Submit"></p>
         </div>
  </form>

</div>
