<h1>Star Wars - The Dating App</h1>

<div id="questions">
    <form name="formName" action="/search" method="POST">
        <h2>Gender Preference?</h2>
        <div class="left_options">
             <p><input type="checkbox" name="male" value="male" id="gender_male"><label for="gender_male">Male</label></p>
            <p><input type="checkbox" name="female" value="female" id="gender_female"><label for="gender_female">Female</label></p>
        </div>
        <div class="right_options">
          <p><input type="checkbox" name="hermaphrodites" value="hermaprodite" id="gender_hermaphrodite"><label for="gender_hermaphrodite">hermaphrodite</label></p>
           <p><input type="checkbox" name="Nones" value="None" id="gender_none"><label for="gender_none">Anything</label></p>
         </div><br>
           <h2>Smartness?</h2>
           <div class="left_options">
             <p><input type="checkbox" name="sentient" value="sentient" id="sentient"><label for="sentient">Sentient</label></p>
           </div>
             <div class="right_options">
               <p><input type="checkbox" name="Random" value="Random" id="Random"><label for="Random">Other</label></p>
             </div><br>

              <h2>What Species Interests You?</h2>
              <div class="left_options">
                   <p><input type="checkbox" name="Human" value="Human" id="human"><label for="human">Human</label></p>
                  <p><input type="checkbox" name="Ewok" value="Ewok" id="Ewok"><label for="Ewok">Ewok</label></p>
              </div>
              <div class="right_options">
                <p><input type="checkbox" name="Zabrak" value="Zabrak" id="Zabrak"><label for="Zabrak">Zabrak</label></p>
                 <p><input type="checkbox" name="Random" value="Random" id="Random"><label for="Random">Surprise Me!</label></p><br>
                 </div>

              <h2>Favourite Climate?</h2>
              <div class="left_options">
                   <p><input type="checkbox" name="Sandy" value="Sandy" id="Sandy"><label for="Sandy">Sandy</label></p>
                  <p><input type="checkbox" name="Snowy" value="Snowy" id="Snowy"><label for="Snowy">Snowy</label></p>
              </div>
              <div class="right_options">
                <p><input type="checkbox" name="Blue Sky" value="Blue Sky" id="Blue Sky"><label for="Blue Sky">Blue Sky</label></p>
                 <p><input type="checkbox" name="Anything" value="Anything" id="Anything"><label for="Anything">No Preference</label></p>
                 <%= hidden_field_tag :authenticity_token, form_authenticity_token %><br>


           <p><input type="submit" value ="Submit"></p>
       </div>
</form>
</div>
